[color]
	ui = true
[color "decorate"]
	HEAD = red
	branch = blue
	tag = yellow
	remoteBranch = magenta
[core]
	editor = nano
[credential]
	helper = cache
[init]
	defaultBranch = main
[log]
	abbrevCommit = true
[pull]
	default = current
	rebase = true
[push]
	autoSetupRemote = true
	default = current
	followTags = true
[rebase]
	autoStash = true
[status]
	branch = true
	showStash = true
[user]
  name = Kevin Flores Cáceres
  email = kevin.flores.c@gmail.com
[include]
  path = ~/.dotfiles_private/.gitconfig_private
[alias]
	wta = "!f() { git worktree add -b \"$1\" \"../$1\"; }; f"
	wtr = "!f() { git worktree remove \"../$1\"; }; f"
	wtl = "!f() { git worktree list; }; f"
