[color]
	ui = true
[color "decorate"]
	HEAD = red
	branch = blue
	tag = yellow
	remoteBranch = magenta
[core]
	editor = nano
[credential]
	helper = cache
[init]
	defaultBranch = main
[log]
	abbrevCommit = true
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	default = current
	followTags = true
[rebase]
	autoStash = true
[status]
	branch = true
	showStash = true
[user]
  name = Kevin Flores Cáceres
  email = kevin.flores.c@gmail.com
[includeIf "gitdir:~/Code/"]
  path = ~/.gitconfig_private
