[color]
	ui = true
[color "decorate"]
	HEAD = red
	branch = blue
	tag = yellow
	remoteBranch = magenta
[core]
	editor = nano
[credential]
	helper = cache
[init]
	defaultBranch = main
[log]
	abbrevCommit = true
[pull]
	default = current
	rebase = true
[push]
	autoSetupRemote = true
	default = current
	followTags = true
[rebase]
	autoStash = true
[status]
	branch = true
	showStash = true
[include]
    path = /home/kevinflores/.dotfiles_private/.gitconfig_private
[user]
  name = Kevin Flores Cáceres
  email = kevin.flores.c@gmail.com
